    <form #registerForm="ngForm" (ngSunmit)="register()" class="form-signin">

      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <input type="text" class="form-control" placeholder="Username" required name="username" [(ngModel)]="model.username" autofocus="">

      <input type="password"  class="form-control mt-2" placeholder="Password" required name="password" [(ngModel)]="model.password" >

      
      <button class="btn btn-lg btn-primary btn-block mt-2 mr-2" type="submit" (click)="register()">Register</button>
      <button class="btn btn-lg btn-warning btn-block mt-2" type="button" (click)="cancel()">Cancel</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
  

